[Unit]
Description=sequencer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/chesscam_production/chesscam/Sequencer
ExecStart=/home/pi/chesscam_production/venv/bin/python /home/pi/chesscam_production/chesscam/Sequencer/main.py

[Install]
WantedBy=multi-user.target