[Unit]
Description=sequencer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/Code/midi_websocket_chesscam/Sequencer
ExecStart=/home/pi/Code/midi_websocket_chesscam/venv/bin/python /home/pi/Code/midi_websocket_chesscam/Sequencer/main.py

[Install]
WantedBy=multi-user.target